<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaharFashion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaharGiyim.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header class="header-area header-sticky">
        <div class="container">
            <nav class="main-nav">
                <div class="row"> 
                    <div class="col-10">
                        BaharFashion
                    </div>
                    <div class="col-2 text-right"> 
                        <ul class="nav">
                            <li class="scroll-to-section mr-1"><a asp-action="Index" asp-controller="Home">Home</a></li>
                           @* <li class="scroll-to-section mr-1"><a asp-action="Index" asp-controller="Store">Store</a></li>*@
                            <li>@await Component.InvokeAsync("Sepet")</li>
                            <li class="scroll-to-section"><a asp-action="Index" asp-controller="StoreManager">Admin</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
           @* <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                       
                        <ul class="nav">
                            <li class="scroll-to-section"><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="scroll-to-section"><a asp-action="Index" asp-controller="Store">Store</a></li>
                            <li class="scroll-to-section"><a asp-action="Index" asp-controller="StoreManager">Admin</a></li>

                        </ul>

                    </nav>
                </div>
            </div>*@
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BaharFashion - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
